html {
  height: 100%;
  width: 100%;
}

body{background-color: #fffbe5;}

h1{
font-size:140%
  
}
h2{
  font-size: 120%;
  margin-left:5%;
  margin-right:1%;
}

/*total/submitting*/
#totalIn{
  margin-left:60%;
  display:flex;
  align-items: center;
}

#totalcount{
  margin-right:2%;
  font-size: 150%;
}
#totalcountOut{
  margin-right:2%;
  font-size: 150%;
}

/*tops*/

#bigwrap {
  border: 1px solid black;
  border-radius: 2%;
  background-color:#9dc59b;
  padding-left:4%;
  padding-top:1%;
  padding-bottom:1%;
  width: 15%;
  margin-left:15%;

  margin-top:5%;

  
}

#wrap1 {
  display:flex;
  align-items: center;
}

#decreaseBtn {
  font-size: 100%;
}

#increaseBtn {
 font-size: 100%;
}

#countLabel {
  font-size: 140%;
}


#wrap2 {
  display:flex;
  align-items: center;
}

#decreaseBtn2 {
  font-size: 100%;
}

#increaseBtn2 {
 font-size: 100%;
}

#countLabel2 {
  font-size: 140%;
}


#wrap3 {
  display:flex;
  align-items: center;
}

#decreaseBtn3 {
  font-size: 100%;
}

#increaseBtn3 {
 font-size: 100%;
}

#countLabel3 {
  font-size: 140%;
}


#wrap4 {
  display:flex;
  align-items: center;
}

#decreaseBtn4 {
  font-size: 100%;
}

#increaseBtn4 {
 font-size: 100%;
}

#countLabel4 {
  font-size: 140%;
}

/*bottoms*/

#bigwrap2 {
  border: 1px solid black;
  border-radius: 2%;
  background-color:#9dc59b;
  padding-left:4%;
  padding-top:1%;
  padding-bottom:1%;
  width: 15%;
  margin-left:15%;
}

#wrap5 {
  display:flex;
  align-items: center;
}

#decreaseBtn5 {
  font-size: 100%;
}

#increaseBtn5 {
 font-size: 100%;
}

#countLabel5 {
  font-size: 140%;
}


#wrap6 {
  display:flex;
  align-items: center;
}

#decreaseBtn6 {
  font-size: 100%;
}

#increaseBtn6 {
 font-size: 100%;
}

#countLabel6 {
  font-size: 140%;
}


#wrap7 {
  display:flex;
  align-items: center;
}

#decreaseBtn7 {
  font-size: 100%;
}

#increaseBtn7 {
 font-size: 100%;
}

#countLabel7 {
  font-size: 140%;
}


#wrap8 {
  display:flex;
  align-items: center;
}

#decreaseBtn8 {
  font-size: 100%;
}

#increaseBtn8 {
 font-size: 100%;
}

#countLabel8 {
  font-size: 140%;
}
